 .App {
  text-align: center; 
}
.pictures img{
  height: 150px;
  border-radius: 10px;
  margin: 2px;
}
.pictures {
  display:flex;
  flex-wrap:wrap;
}
.pictures a {
  text-decoration: none;
  color: black;
}
.navbar button{
  align-content: center;
  height: 30px;
}
.navbar input{
  height: 24px;
}
.navbar img{
  height: 10px;
} 
.pictures section{
  margin-top: 30px;
}
.singleFlower img {
  height: 300px;
  border-radius: 10px;
}
.singleFlower {
  margin-top: 30px;
}
.singleFlower button img{
  height: 10px;
} 
.favourites img{
  height: 100px;
  border-radius: 10px;
  margin: 2px;
}
.favourites {
  display:flex;
  flex-wrap:wrap;
}
.rmsc {
  --rmsc-main: #4ba01a !important;  
  --rmsc-hover: #aad19e !important;
  --rmsc-selected: #aad19e !important;
  --rmsc-border: #aad19e !important;
  --rmsc-gray: #aad19e !important ;
  --rmsc-bg: #e6f3e0!important;
  --rmsc-p: 10px; /* Spacing */
  --rmsc-radius: 4px; /* Radius */
  --rmsc-h: 38px; /* Height */
  width: 400px;
  margin-left: 10px;

}
/* .navbar div{
  display:inline-block;
} */
.searchResults {
  position:absolute;
  background: white;
}
a {
  text-decoration: none;
  color: black;
}
.navbar>div {
  display:inline-block;
  position: relative;
}

.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
}

.searchResults>div {
  display: block;
  text-align: left;
}

.searchResults>div>a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #EEE;
}
.characteristics {
  padding: 10px;
}
